body {
    background:radial-gradient(circle, white,grey);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size:25px;
    color:white;
    padding:2px;
}
p {
    color:grey;
    font-size:18px;
    margin-left:5px;
}
.container {
padding: 100px 0;
}
.browser {
    width: 1000px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 4px 3px 3px rgba(128, 128, 128, 0.5);
    background-color: white;
    flex-direction: row;
    
}
aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4%;
    cursor: pointer;
    background:white;
}
.nextside{ 
    transform: rotate(180deg);
}
.photoholder {
   margin-left: auto;
   margin-right: auto;
   width: auto;
   height: auto;
}
.gray-container {
    position: absolute;
    width: 950px;
    height: 100px;
    bottom: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.550);
    text-align: left;
}
.big {
    width: 950px;
    height: 500px;
    object-fit: cover;
}
.thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 80px;
    align-content: center;
    padding-top: 10px;
}
.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-left: 5px;
    width: 100px;
    height: 100px; 
}
.logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: white solid 2px;
    margin: 5px;
    box-shadow: 0px 15px 5px -10px grey;
    position: relative;
    border-radius: 2px;
} 
.thumbnail:hover .logo {
    cursor: pointer;
    width: 90px;
    height: 90px;
}
.littletitle:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;    
}
.littletitle {
    visibility: hidden;
    position: absolute;
    font-size: 0.9rem;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px 20px;
    bottom: 95%;
    opacity: 0;
    transition: opacity 0.3s;
}
.thumbnail:hover .littletitle {
    visibility: visible;
    opacity: 0.9;
} 